<section class="presentation">
  <div class="introduction">
    <div class="intro-text">
      <h1>Laptop</h1>
      <p>Th new 14 inch beeless display offering a 4k display</p>
    </div>
    <div class="cta">
      <button class="cta-select">14 Inch</button>
      <button class="cta-add">Add to cart</button>
    </div>
  </div>
  <div class="cover">
    <img src="https://i.dell.com/sites/csimages/Video_Imagery/all/xps_7590_touch.png" alt="">
  </div>
</section>

<div class="laptop-select">
    <img src="assets/images/arrow-left.svg" alt="">
    <img src="assets/images/dot.svg" alt="">
    <img src="assets/images/dot-full.svg" alt="">
    <img src="assets/images/dot-full.svg" alt="">
    <img src="assets/images/arrow-right.svg" alt="">
</div>
<img class="big-eclipse" src="assets/images/big-eclipse.svg" alt="">
<img class="mid-eclipse" src="assets/images/mid-eclipse.svg" alt="">
<img class="small-eclipse" src="assets/images/small-eclipse.svg" alt="">
