header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 10%
    border: 1px #dddddd solid
    background-color: #ffffff

.logo
    cursor: pointer

.nav_links
    list-style: none
    margin: auto 0

    li
        display: inline-block
        padding: 0px 20px
        a
            text-transform: uppercase
            transition: all 0.3s ease 0s
        a:hover
            color: #0088a9
            text-decoration: none

button
    padding: 9px 25px
    background-color: rgba(0, 136, 169, 1)
    border: none
    border-radius: 50px
    cursor: pointer
    transition: all 0.3s ease 0s

button:hover
    background-color: rgba(0, 136, 169, 0.8)