<section>
  <header>
    <div class="logo-container">
      <a [routerLink]="['/home/product']" routerLinkActive="router-link-active">LOGO</a>
    </div>
    <nav>
      <!-- <ul class="nav_links">
        <li>
          <a [routerLink]="['/home/product']" routerLinkActive="router-link-active">Home</a>

        <li>
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">Product</a>
        </li>
      </ul> -->

      <div class="dropdown">
        <button>
          <a [routerLink]="['/home/product']" routerLinkActive="router-link-active" class="home">Home</a>
        </button>
        <div class="users">
          <button><i class="fas fa-user"></i> </button>
          <ul>
            <li>
              <a href=""><i class="fas fa-id-badge"></i>Profile</a>
            </li>
            <li>
              <a (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </header>


</section>

<ng-content></ng-content>
